{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>회원가입 페이지</title>
        <link rel="stylesheet" href="{% static '../static/signup.css' %}">
    </head>

    <body>
        <div id="app">
    
            <div id="head">
                <p>SIGN UP</p>
            </div>
            <img id="sungl" src="{% static 'img/sungl.png' %}">    <!--선글라스 이미지 삽입-->
            <img id="comment" src="{% static 'img/comment.png' %}">
            <div id="title">
                <p>나의위키</p>
            </div>
            <div id="title2">
                <p>나의위키</p>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div id="box_id">
                    <label for="username">ID</label>
                    <input id="username" type="text" name="username" placeholder="ID">
                </div>
                <div id="box_pw">
                    <label for="password1">PW</label>
                    <input id="password1" type="password" name="password1" placeholder="PASSWORD">
                </div>
                <div id="box_check">
                    <label for="password2">PW CHECK</label>
                    <input id="password2" type="password" name="password2" placeholder="PASSWORD">
                </div>
                <div id="box_bt">
                    <input type="submit" value="SIGN UP" class="submit-btn">
                </div>
            </form>
        </div>
    </body>
</html>
