<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>시작 페이지1</title>
    <link rel="stylesheet" href="../static/mainpage.css">
</head>

<body>
    <div id="app">
        <div id="content">
            <div id="sunglass">
                <img src="{% static 'img/sunglass.png' %}">    <!--선글라스 이미지 삽입-->
            </div>
            <div id="comment">
                <p>About <br/>
                me</p>
            </div>
            <div id="title">
                <p>나의위키</p>
            </div>
        </div>            
    </div>    
</body>
</html>