{% load static %}
<link rel="stylesheet" href="{% static 'css/photo.css %}" />

<body>
  <!-- 사진 업로드 -->
  <div class="container">
    <div class="image-upload" id="image-upload">
      <form method="post" enctype="multipart/form-data">
        <div class="button">
          <label for="chooseFile">사진 : </label>
        </div>
        <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)" />
      </form>

      <div class="fileContainer">
        <div class="fileInput">
          <p>FILE NAME:</p>
          <p id="fileName"></p>
        </div>
        <div class="buttonContainer">
          <div class="submitButton" id="submitButton">SUBMIT</div>
        </div>
      </div>
    </div>
    <div class="image-show" id="image-show"></div>
  </div>

  <form>
    <input type="text" class="profile_txt" />
    <button class="btn_submit">추가</button>
  </form>
  <ul class="profile_list"></ul>
  </section>
</body>
<script>
  //사진 첨부 js
  var submit = document.getElementById("submitButton");
  submit.onclick = showImage; //Submit 버튼 클릭시 이미지 보여주기

  function showImage() {
    var newImage =
      document.getElementById("image-show").lastElementChild;
    newImage.style.visibility = "visible";

    document.getElementById("image-upload").style.visibility =
      "hidden";

    document.getElementById("fileName").textContent = null; //기존 파일 이름 지우기
  }
  function loadFile(input) {
    var file = input.files[0];

    var name = document.getElementById("fileName");
    name.textContent = file.name;

    var newImage = document.createElement("img");
    newImage.setAttribute("class", "img");

    newImage.src = URL.createObjectURL(file);

    newImage.style.width = "70%";
    newImage.style.height = "70%";
    newImage.style.visibility = "hidden"; //버튼을 누르기 전까지는 이미지 숨기기
    newImage.style.objectFit = "contain";

    var container = document.getElementById("image-show");
    container.appendChild(newImage);
  }
</script>