{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'css/report.css' %}" />
  <title>나의위키</title>
</head>


<body>
  {% block navbar %}
  {% include "mywiki/base.html" %}
  {% end block %}
  <div id="main">
    <section class="section">
      <h1>신고 접수처</h1>
      <article class="article">
        <textarea name="aboutme" id="aboutme" cols="90" rows="1">
제목: 
        </textarea>

        <textarea name="aboutme" id="aboutme" cols="90" rows="8">
관련된 사항을 입력해주세요.</textarea>

        <div class="report_bt">
          <button type="button">신고하기</button>
        </div>
      </article>
    </section>
  </div>

</body>

</html>
{% block footer %}
{% include "mywiki/footer.html" %}
{% endblock %}