html,
body {
  font-size: 1.5vh;
}

@font-face {
    font-family: "DungGeunMo";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: "DungGeunMo";
  }
  

#app {
  position: relative;
  margin: 10px;
  display: block;
  background-color: #ADA6ED;
  height: 97vh;
  width: 97vw;
  border: 1px solid black;
  border-radius: 35px;
}

#sungl {
    position: absolute;
    width: 5vw;
    height: 4vh;
    top: 27vh; 
    left: 27vw;
}

#comment {
    position: absolute;
    width: 30vw;
    height: 43vh;
    top: 5vh;
    left: 35vw;
}

#title > p{
    position: absolute;
    font-size: 8rem;
    top: 22.5vh;
    left: 26.3vw;
    color: #b442e9;
}

#title2 > p{
    position: absolute;
    font-size: 8rem;
    top: 21.9vh;
    left: 25.9vw;
}

#information {
    position: absolute;
    width: 30vw;
    top: 23vh;
    left: 70vw;
    border-radius : 20px;
}

#information > p{
    font-size: 1.5rem;
    line-height: 4vh;
}

#box_id{
    position: absolute;
    font-size: 5rem;
    left: 16vw;
    top: 53vh;
}

#box_id > input {
    font-size: 5rem;
    width: 25vw;
    border: 3px solid ;
    border-radius: 18px;
}

#box_pw{
    position: absolute;
    font-size: 5rem;
    left: 16vw;
    top: 65vh;
}

#box_pw > input {
    font-size: 5rem;
    width: 25vw;
    border: 3px solid ;
    border-radius: 18px;
}

#box_bt > input{
    position: absolute;
    width: 10vw;
    height: 20.5vh;
    left: 48vw;
    top: 53vh;
    font-size: 5rem;
    background-color: #b442e9;
    border: 1px solid #b442e9;
    border-radius: 18px;
    box-shadow : 3px 3px 3px black;
}